.na{
    margin-top: 38rem;
    display: flex;
    justify-content: center;
    border: 1px solid black;
    border-radius: .5rem;

    
}

.nav{
    text-decoration: none;
    font-size: 1.5rem;
    padding: .6rem;
    margin-left: .7rem;
    color: cornflowerblue;
    border-radius: .5rem;
    
}

div a:hover{
    background-color: #302b63
    
}