body{
    background-color: blanchedalmond;
}



.na{
    margin-top: 39rem;
    display: flex;
    justify-content: center;
    border: 1px solid #fffff;
    border-radius: .5rem;
    background-color:#ffffff;

    
}

div a{
    text-decoration: none;
    font-size: 1.5rem;
    padding: .3rem;
    margin-left: .7rem;
    color: cornflowerblue;
    border-radius: .5rem;

    
}

div a:hover{
    background-color: #302b63
    
}

